<div class="card">
    <h5 class="card-header text-center py-4">
        <strong>Signup</strong>
    </h5>

    <div class="card-body">
        <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
            <mat-form-field>
                <input matInput nospaces formControlName="username" placeholder="Username">
                <mat-error *ngIf="isUsernameFieldInvalid() && isBadUsername">Username too short.</mat-error>
                <mat-error *ngIf="isUsernameFieldInvalid() && isUsernameTaken">Username already taken.</mat-error>
                <mat-error *ngIf="isUsernameFieldInvalid() && isApiError">Something went wrong.</mat-error>
            </mat-form-field>

            <button [disabled]="isFormInvalid()" class="btn btn-outline-info btn-rounded" type="submit">Signup</button>
        </form>
    </div>
</div>