.white-bold-bordered {
    -webkit-text-stroke: 1px black;
    color: white;
    font-weight: bold;
    text-shadow:
       1px  1px 0 #000,
      -.5px -.5px 0 #000,  
       .5px -.5px 0 #000,
      -.5px  .5px 0 #000,
       .5px  .5px 0 #000;
}