<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn()" [href]="buildQueueRoute()">
                <p>Queue</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn()" href="/#/games">
                <p>View Games</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn() && isAdmin()" href="/#/add-game">
                <p>Add Game</p>
            </a>
        </li>
    </ul>
</div>
    