<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="card">
            <h5 class="card-header text-center py-4">
                <strong>Add a Game</strong>
            </h5>
        
            <div class="card-body">
                <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
                    <mat-form-field>
                        <input matInput formControlName="name" placeholder="Game Name">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select formControlName="genre" [value]="DEFAULT_GENRE" placeholder="Genre">
                            <mat-option *ngFor="let genre of GENRES" [value]="genre">{{genre}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput numbersonly formControlName="minNumOfPlayers" placeholder="Min Number of Players">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput numbersonly formControlName="maxNumOfPlayers" placeholder="Max Number of Players">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput nospaces formControlName="imagePath" placeholder="Image Path">
                    </mat-form-field>
        
                    <div *ngIf="imagePath != null">
                        <img [src]="imagePath" width=256 height=144 (load)="clearAllImageErrors()" (error)="setBadImageError()" />
                    </div>

                    <button [disabled]="isFormInvalid()" class="btn btn-outline-info btn-rounded btn-block" type="submit">Add Game</button>
                </form>
            </div>
        </div>
    </div>
</div>