<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table mat-table [dataSource]="queueEntries$" style="width: 100%;">
                <ng-container matColumnDef="imagePath">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let queueEntry" style="text-align: center;"><img [src]="getGame(queueEntry.gameId).imagePath" width="216" /></td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Game Name</th>
                    <td mat-cell *matCellDef="let queueEntry">{{getGame(queueEntry.gameId).name}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let queueEntry"><button class="btn btn-outline-info btn-rounded" (click)="removeGameFromQueue(queueEntry.queueEntryId)">Remove From Queue</button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center py-4">
                    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
                        <mat-form-field>
                            <mat-select formControlName="gameId" placeholder="Pick A Game">
                                <mat-option *ngFor="let game of games$ | async" [value]="game.gameId">{{game.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
        
                        <button type="submit" class="btn btn-outline-info btn-rounded" [disabled]="isFormInvalid()">Add to Queue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            





<!-- <div class="container d-flex align-items-center justify-content-center h-100"></div>
    <div class="row d-flex justify-content-center text-center">
        <div *ngFor="let queueEntry of queueEntries$ | async" class="col-md-3">
            <div class="card mr-3">
                <img class="card-img-top" [src]="getGame(queueEntry.gameId).imagePath" width="640">

                <div class="card-body">
                    <h4 class="card-title"><a>{{getGame(queueEntry.gameId).name}}</a></h4>
                </div>

                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" (click)="removeGameFromQueue(queueEntry.queueEntryId)">Remove From Queue</button>
            </div>
        </div>

        <div class="jumbotron col-md-5">
            
        </div>
    </div>
</div> -->