<div class="card">
    <h5 class="card-header text-center py-4">
        <strong>Login</strong>
    </h5>

    <div class="card-body">
        <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
            <mat-form-field>
                <input matInput nospaces formControlName="username" placeholder="Username">
                <mat-error *ngIf="isBadLogin">Invalid login.</mat-error>
            </mat-form-field>

            <button [disabled]="isFormInvalid()" class="btn btn-outline-info btn-rounded" type="submit">Login</button>
        </form>
    </div>
</div>