<div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Login</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0">
        <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
            <div class="md-form">
                <input type="text" mdbInput nospaces formControlName="username" id="login-username" class="form-control">
                <label for="login-username">Username</label>
                <!-- <mdb-error *ngIf="isBadLogin">Invalid login.</mdb-error> -->
            </div>

            <button [disabled]="isFormInvalid()" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Login</button>
        </form>
    </div>
</div>