<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bg.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <img src="assets/img/queuehaven-logo.png" alt="">
                </div>

                <h2 class="presentation-subtitle text-center">Put down the pen and paper and step into the cutting edge world of queue management.</h2>
            </div>
        </div>
    </div>
</div>
